@font-face {
	font-family: 'NeueHaasDisplay';
	src: url('../assets/fonts/NeueHaasDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'NeueHaasDisplay';
	src: url('../assets/fonts/NeueHaasDisplay-Mediu.eot') format('truetype');
}

@font-face {
	font-family: 'NeueHaasDisplay';
	src: url('../assets/fonts/NeueHaasDisplay-XThin.ttf') format('truetype');
}