<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" href="/logo.jpg" type="image/jpg" sizes="16x16")
    body
        include ./partials/header.pug
        include ./partials/arrow-up.pug
        include ./partials/preolaider.pug
        div.design-product.main-content
            div.design-product__title
                div.design-product__img
                    img(src="https://cdn.shopify.com/s/files/1/0123/0644/8443/files/a_cold_wall-acw-x-converse-focus-1_1944x.jpg?v=1600084830" alt="")
            div.container
                div.design-product__block(data-aos="fade-up")
                    div.design-product__block-info
                        div.design-product__block-info-title Название товара
                        div.design-product__block-info-desc Описание товара
                    form.design-product__block-form-register(action="/" method="")
                        input.design-product__block-form-register-email.design-product__block-form-register-info(type="text" placeholder="Эл. почта")
                        input.design-product__block-form-register-date.design-product__block-form-register-info(type="text" placeholder="Дата рождения (ДД/ММ/ГГГГ)")
                        select.design-product__block-form-register-country
                            option(value="Страна" selected disabled) Страна
                            option(value="Страна" selected disabled) Страна
                            option(value="Страна" selected disabled) Страна
                            option(value="Страна" selected disabled) Страна
                        div.design-product__block-sex
                            label(for="men")
                                input(type="radio" name="sex" id="men")
                                span Мужчина
                            label(for="girl")
                                input(type="radio" name="sex" id="girl")
                                span Женщина
                        input.design-product__block-form-register-submit(type="submit" value="Зарегистрироваться")
                ul.design-product__gallery
                    li.design-product__gallery-block.design-product__gallery-block-img(data-aos="fade-up")
                        img(src="https://cdn.shopify.com/s/files/1/0123/0644/8443/files/a_cold_wall-acw-x-converse-focus-2_900x.jpg?v=1600084834" alt="")
                    li.design-product__gallery-block.design-product__gallery-block-img(data-aos="fade-up")
                        img(src="https://cdn.shopify.com/s/files/1/0123/0644/8443/files/a_cold_wall-acw-x-converse-focus-2_900x.jpg?v=1600084834" alt="")
                    li.design-product__gallery-block.design-product__gallery-block-text(data-aos="fade-up")
                        p.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?
                    li.design-product__gallery-block.design-product__gallery-block-img(data-aos="fade-up")
                        img(src="https://cdn.shopify.com/s/files/1/0123/0644/8443/files/a_cold_wall-acw-x-converse-focus-2_900x.jpg?v=1600084834" alt="")
                    li.design-product__gallery-block.design-product__gallery-block-img(data-aos="fade-up")
                        img(src="https://cdn.shopify.com/s/files/1/0123/0644/8443/files/a_cold_wall-acw-x-converse-focus-2_900x.jpg?v=1600084834" alt="")
                    li.design-product__gallery-block.design-product__gallery-block-text(data-aos="fade-up")
                        p.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, vero?
                    li.design-product__gallery-block.design-product__gallery-block-info.design-product__gallery-block-text
                        div.design-product__gallery-block-content
                            div.design-product__gallery-block-heading Характеристики товара
                            ul.design-product__gallery-block-list
                                li.design-product__gallery-block-list-item
                                    div.design-product__gallery-block-list-item-block Ткань: 
                                    div.design-product__gallery-block-list-item-block Название ткани
                                li.design-product__gallery-block-list-item
                                    div.design-product__gallery-block-list-item-block Размер: 
                                    div.design-product__gallery-block-list-item-block Размер
                                li.design-product__gallery-block-list-item
                                    div.design-product__gallery-block-list-item-block Цвет: 
                                    div.design-product__gallery-block-list-item-block Цвет
        include ./partials/footer.pug
        script(src="/js/main.js")