footer.footer
    div.container
        div.footer__info
            div.footer__block-text.footer__block
                div.footer__block-content(style="display: flex; flex-direction: column;")
                    p.footer__block-desc.
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                    p.footer__block-desc.
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свой обеспечивает грустный взобравшись вопроса точках живет рыбными реторический над!
            div.footer__block.footer__block-icons(style="justify-content: center;")
                div.footer__block-content
                    ul.footer__block-list-social
                        li.footer__link-icon.footer__link
                            a(href="https://vk.com/rycbrand")
                                img(src="/svg/vk.svg" alt="вконтакте" width="20")
                        li.footer__link-icon.footer__link
                            a(href="https://www.instagram.com/ryc_online/?igshid=14m1dauesmfz6")
                                img(src="/svg/011-instagram.svg" alt="instagram" width="20")