<div class="block-filters">
    <button class="btn-open-filters">
        <img src="./assets/img/svg/filter.svg" alt="фильтрация">
    </button>
    <ul class="block-filters-list">
        <li data-size="big">
            <a data-size="big" href="#">Большой размер</a>
        </li>
        <li data-size="small">
            <a data-size="small" href="#">Маленький размер</a>
        </li>
        <li data-size="all">
            <a data-size="all" href="#">Все товары</a>
        </li>
    </ul>
</div>