<div class="block-filters">
    <button class="btn-open-filters">
        <img src="./assets/img/svg/filter.svg" alt="фильтрация">
    </button>
    <ul class="block-filters-list">
        <li data-product="sale">
            <a href="#">Распродажа</a>
        </li>
        <li data-product="sale">
            <a href="#">Аксессуары</a>
        </li>
        <li data-product="sale">
            <a href="#">Коллекции</a>
        </li>
        <li data-size="big">
            <a href="#">Большой размер</a>
        </li>
        <li data-size="small">
            <a href="#">Маленький размер</a>
        </li>
        <li data-size="all">
            <a href="#">Все товары</a>
        </li>
    </ul>
</div>