<footer class="footer">
    <div class="container">
        <div class="footer__info">
            <div class="footer__block" style="width: 576px;">
                <div class="footer__block-content" style="display: flex; flex-direction: column;">
                    <p class="footer__block-desc">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                    </p>
                    <p class="footer__block-desc">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свой обеспечивает грустный взобравшись вопроса точках живет рыбными реторический над!
                    </p>
                </div>
            </div>
            <div class="footer__block" style="width: 528px;">
                <div class="footer__block-content">
                    <ul class="footer__block-list-social">
                        <li class="footer__link-icon footer__link">
                            <a href="https://vk.com/rycbrand">
                                <img src="../assets/img/svg/vk.svg" alt="вконтакте" width="40">
                            </a>
                        </li>
                        <li class="footer__link-icon footer__link">
                            <a href="https://www.instagram.com/ryc_online/?igshid=14m1dauesmfz6">
                                <img src="../assets/img/svg/011-instagram.svg" alt="instagram" width="40">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>