// Montserrat regular
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
    font-family: 'Montserrat', sans-serif;
}

// Quicksand medium
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap';
    font-family: 'Quicksand', sans-serif;
}