@media screen and (max-width: 1360px) {
    .product {
        &__block-link {
            font-size: 1em !important;
            width: 200px !important;
            height: 50px !important;
        }
        &__block-order-info {
            flex-direction: column;
        }
        &__block-price {
            font-size: 1.5em !important;
        }
        &__block-heading {
            font-size: 2em !important;
        }
        &__block-desc {
            font-size: 0.9em !important;
        }
        &__img {
            height: 100% !important;
        }
        &__info {
            height: auto !important;
            flex-direction: column;
        }
        &__block-img {
            width: 100% !important;
            height: 600px !important;
        }
        &__block-information {
            margin: 0 !important;
            margin-top: 30px !important;
            width: 100% !important;
        }
        &__block-select-wrapper {
            width: 90% !important;
            height: 70px !important;
            margin: 30px auto !important;
        }
        &__block-list-size {
            font-size: 1.5em !important;
        }
        &__block-links {
            display: flex;
            justify-content: space-around;
        }
    }
    .options-wrapper {
        padding-top: 0 !important;
    }
    .options__product {
        min-width: 33% !important;
    }
}

@media screen and (max-width: 1150px) {
    .title {
        padding-top: 100px !important;
    }
    .sale {
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
        .block-filters {
            top: 160px;
            left: 5px;
        }
    }
    .list-cards {
        width: 100% !important;
    }
    .card {
        padding: 0 10px;
    }
    .product {
        &__block-img {
            height: auto !important;
        }
    }
}

@media screen and (max-width: 1025px) {
    .header {
        &__top {
            height: 35px !important;
        }
        &__bottom-link-mobile-item {
            display: block !important;
        }
        &__bottom-shop-list {
            display: none !important;
        }
        &__bottom-wrapper-list {
            width: auto !important;
            height: auto !important;
            flex-direction: column;
            align-items: flex-start !important;
            position: absolute;
            top: 80px;
        }
        &__bottom-btn {
            border: none;
            background-color: transparent;
            background-position: center;
            cursor: pointer;
            display: block !important;
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-image: url(../../assets/img/svg/menu.svg);
        }
        &__bottom-link-no-border::after {
            display: none !important;
        }
        &__bottom-title img {
            width: 50px;
        }
        &__bottom-list {
            display: none !important;
            width: 100% !important;
            height: 100vh;
            position: fixed !important;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            bottom: 0;
            background-color: #fff;
            flex-direction: column;
            justify-content: center !important;
            overflow-y: auto;
            li {
                font-size: 1.3em;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
        &__bottom-list-close {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
            &::after {
                right: 0;
                transform: rotateZ(45deg);
            }
            &::before {
                left: 0;
                transform: rotateZ(-45deg);
            }
        }
        &__bottom-btn-user {
            border: none;
            background-color: transparent;
            background-position: center;
            cursor: pointer;
            display: block !important;
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-image: url(../../assets/img/svg/menu.svg);
            transform: rotateZ(90deg);
            &::before,
            &::after {
                display: none !important;
            }
        }
        &__block-search {
            display: none !important;
        }
        &-search {
            position: relative !important;
            border-bottom: 1px solid #000 !important;
            width: 500px !important;
            height: 40px !important;
            opacity: 1 !important;
            font-size: 0.9em !important;
            display: block;
            margin: 0 auto;
        }
    }
    .title {
        height: auto !important;
        &__text {
            a {
                font-size: 25px;
            }
        }
        &__block-img {
            height: auto !important;
        }
    }
    .block-filters-list {
        li {
            &:not(:last-child) {
                margin-bottom: 10px !important;
            }
            a {
                font-size: 1rem !important;
            }
        }
    }
    .up-wrapper {
        width: 36px !important;
        height: 36px !important;
        right: 5px !important;
        top: 200px !important;
        span {
            height: 16px !important;
            &:not(:last-child) {
                left: 12px !important;
            }
            &:not(:first-child) {
                right: 12px !important;
            }
        }
    }
    .footer {
        &__block-text {
            font-size: 0.8em !important;
        }
    }
    .cart {
        &__product-content {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 971px) {
    .block-filters-list {
        transition: .5s;
        position: absolute;
        left: -500px;
        top: 15px;
        li a {
            font-size: 0.9rem !important;
        }
    }
    .btn-open-filters {
        display: flex !important;
        justify-content: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}

@media screen and (max-width: 950px) {
    .card {
        &-old-price,
        &-now-price,
        &-sale,
        &-name {
            font-size: 0.7rem !important;
        }
    }
}

@media screen and (max-width: 850px) {
    .account {
        &__content {
            flex-direction: column;
            justify-content: none !important;
            align-items: center;
        }
        &__block {
            margin-bottom: 50px;
        }
    }
    .cart {
        &__product {
            &-content {
                flex-direction: column;
            }
            &-desc,
            &-info {
                width: 80% !important;
            }
            &-info {
                margin: 20px auto 0;
            }
            &-desc {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__top {
            height: 30px !important;
        }
        &__top-title {
            a {
                font-size: 0.7em !important;
            }
        }
        &__bottom-title img {
            height: 40px !important;
            width: auto !important;
        }
    }
    .title {
        padding-top: 130px !important;
    }
    .block-filters-list {
        width: max-content;
        li a {
            font-size: 1.3rem !important;
        }
    }
    .sale {
        padding-top: 50px;
    }
    .account {
        height: auto !important;
        &__block-heading {
            font-size: 1.3em !important;
        }
        &__block-label-heading {
            font-size: 14px !important;
        }
        &__data {
            font-size: 19px;
        }
        &__submit {
            font-size: 14px !important;
            letter-spacing: 1px;
        }
    }
}

@media screen and (max-width: 750px) {
    .title {
        &__text {
            left: 0;
            right: 0;
            width: 90% !important;
            margin: 0 auto;
            text-align: center;
        }
    }
    .design {
        &__title {
            margin-bottom: 30px !important;
        }
        &__list {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        &__product {
            &-content-title {
                font-size: 8px !important;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .product {
        &__block-links {
            a {
                font-size: 1.3em !important;
                width: 280px !important;
                height: 50px !important;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .options {
        &__product {
            min-width: 40% !important;
        }
        &__block-price,
        &-name {
            font-size: 11px !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        &__bottom-btn {
            width: 45px !important;
            height: 25px !important;
            &-center-line {
                height: 3px !important;
            }
            &::before,
            &::after {
                height: 3px !important;
            }
        }
        &__bottom-btn-user {
            width: 25px !important;
            height: 45px !important;
        }
        &-search {
            width: 300px !important;
        }
    }
    .title {
        padding-top: 40px !important;
        height: auto !important;
        .glide__slides {
            height: auto !important;
        }
        &__text a {
            font-size: 2em !important;
        }
    }
    .sale {
        &__filter {
            width: 0 !important;
        }
    }
    .product {
        &__block-links {
            a {
                width: 250px !important;
            }
        }
    }
    .list-cards,
    .shop__list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 540px) {
    .cart {
        &__product-desc-block-item {
            font-size: 10px !important;
            padding: 0 10px;
            &-text {
                width: auto !important;
            }
        }
        &__product {
            &-desc,
            &-info {
                width: 95% !important;
            }
        }
    }
    .card {
        &__block-price {
            margin-top: 0 !important;
        }
        &-old-price,
        &-now-price,
        &-sale,
        &-name {
            font-size: 0.6rem !important;
        }
    }
    .footer {
        &__block-text {
            grid-column: 1/5 !important;
        }
        &__block-icons {
            justify-content: flex-start !important;
            margin-top: 10px;
        }
    }
    .design-product__block {
        width: 100% !important;
    }
    .design-product__gallery {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 0 !important;
        &-block:nth-child(odd) {
            grid-column: 1/3;
        }
    }
}

@media screen and (max-width: 450px) {
    .options {
        &__product {
            min-width: 50% !important;
        }
    }
}

@media screen and (max-width: 395px) {
    .account {
        &__block {
            width: 100% !important;
        }
    }
    .product {
        &__block-links {
            a {
                width: 150px !important;
                height: 40px !important;
                font-size: 0.8em !important;
            }
        }
        &__block-select-wrapper {
            height: 55px !important;
            &::after {
                width: 25px !important;
                height: 25px !important;
            }
        }
    }
}

@media screen and (max-width: 385px) {
    .options {
        &__product {
            min-width: 70% !important;
        }
    }
}

@media screen and (max-width: 360px) {
    .header {
        &__bottom-list {
            li {
                font-size: 1.2em !important;
            }
        }
        &__bottom-wrapper-list {
            width: 90% !important;
        }
        &-search {
            width: 100% !important;
        }
    }
    .product {
        &__block-select-wrapper {
            margin: 20px auto !important;
        }
        &__block-list-size {
            font-size: 1.3em !important;
        }
    }
}

@media screen and (max-width: 330px) {
    .product {
        &__block-links {
            a {
                width: 135px !important;
                font-size: 0.7em !important;
            }
        }
        &__block-select-wrapper {
            height: 40px !important;
            &::after {
                width: 15px !important;
                height: 15px !important;
            }
        }
        &__block-list-size {
            font-size: 1em !important;
        }
    }
    .card {
        &__description {
            margin-top: 0 !important;
        }
        &-old-price,
        &-now-price,
        &-sale,
        &-name {
            font-size: 0.5rem !important;
        }
    }
}

@media screen and (max-width: 300px) {
    .product {
        &__block-links {
            a {
                width: 165px !important;
                height: 40px !important;
            }
        }
    }
    .cart__product {
        &-desc-block-item {
            font-size: 8.8px !important;
        }
    }
    .list-cards,
    .shop__list {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .card {
        &__description {
            margin-top: 10px !important;
        }
        &-old-price,
        &-now-price,
        &-sale,
        &-name {
            font-size: 0.6rem !important;
        }
    }
}