%neueHaasDisplay-bold {
    font-family: 'NeueHaasDisplay';
    font-weight: 700;
}

%neueHaasDisplay-medium {
    font-family: 'NeueHaasDisplay';
    font-weight: 500;
}

%neueHaasDisplay-thin {
    font-family: 'NeueHaasDisplay';
    font-weight: 100;
}