@import '_global';
.title {
    height: 600px;
    padding-top: 100px;
    &__blocks {
        height: 100%;
    }
    &__slider {
        height: 100%;
    }
    &__block {
        height: 100%;
        text-align: center;
        position: relative;
        &-img {
            display: block;
            height: 500px;
            background-color: #000;
        }
    }
    &__text {
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto 0;
        width: 100%;
        height: max-content;
        text-align: center;
        a {
            color: #000;
            text-transform: uppercase;
        }
    }
}

.sale {
    height: max-content;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.block-filters {
    width: 192px;
    &-list {
        position: fixed;
        margin-top: 125px;
        li {
            position: relative;
            a {
                color: #000;
                text-transform: uppercase;
                font-size: 0.625rem;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: .08px;
                width: 0;
                transition: .2s;
                background-color: #000;
                transform: rotateZ(-180deg);
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

.list-cards {
    width: 1100px;
    height: auto;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card {
    width: 333px;
    margin: 10px 0 0 30px;
    height: 430px;
    overflow: hidden;
    transition: .5s;
    &__block-img {
        width: 280px;
        height: 350px;
        z-index: 5;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        & img {
            max-height: 350px;
        }
    }
    &__description {
        text-align: center;
        margin-top: 1rem;
        transition: all .5s;
        z-index: 5;
    }
    &-name {
        text-transform: uppercase;
        color: #000000;
        font-size: 0.625rem;
        font-weight: 400;
    }
    &__block-price {
        margin-top: 5px;
    }
    &-old-price {
        color: gray;
        text-decoration: line-through;
        font-size: 0.800rem;
    }
    &-now-price {
        color: #000000;
        font-size: 0.800rem;
    }
    &-sale {
        color: #000000;
        font-size: 0.800rem;
    }
}

.product {
    transition: .5s;
    position: relative;
    &__list-images {
        height: max-content;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        padding-top: 600px;
        transition: .5s;
    }
    &__img {
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__info {
        display: flex;
        align-items: center;
        padding-top: 100px;
    }
    &__block {
        height: 500px;
        &-img {
            background-repeat: no-repeat;
            height: 100%;
            background-size: cover;
            transition: .5s;
            background-image: url(../../assets/img/IMG_2827.jpg);
            z-index: 999;
        }
        &-content {
            height: 500px;
            display: flex;
            flex-direction: column;
        }
        &-heading {
            margin-bottom: 10px;
            font-size: 2em;
        }
        &-price {
            margin-bottom: 10px;
        }
        &-desc {
            margin-bottom: 10px;
            font-size: 0.625rem;
            text-transform: uppercase;
        }
        &-list-size {
            text-align: center;
            padding: 0 10px;
            height: 40px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        &-link {
            color: #fff;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            height: 30px;
            font-size: 0.625rem;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__options-wrapper {
        margin-top: 150px;
        height: 350px;
        overflow-y: hidden;
    }
    &__options {
        width: max-content;
        display: flex;
        align-items: center;
        .card {
            margin: 0;
            width: 190px;
            margin: 0 20px;
            &__block-img {
                width: 190px;
                height: 265px;
            }
        }
        img {
            width: 190px;
        }
    }
}